# this requirement.txt could use "$pip  freeze" to create
# Testing with pip with_item install at Chapter 6
GnuPGInterface==0.3.2
South==1.0.2
argparse==1.2.1
bottle==0.12.19
chardet==2.0.1
colorama==0.2.5
html5lib==0.999
pygobject==3.12.0
python-apt==0.9.3.5
requests==2.2.1
six==1.5.2
ssh-import-id==3.21
urllib3==1.7.1
wheel==0.24.0
wsgiref==0.1.2
